<div id="customRegistration">
	<div class="page-width page-width--narrow">
		<header class="section-header">
			<a href="https://maizon-store.com/" title="Maizon Store"><img src="https://maizon-store.com/cdn/shop/files/logo_maizon_black_png_800px.png" title="Maizon Store" alt="Maizon Store Logo" /></a>
		  <h1 class="section-header__title">
			{{ 'customer.activate_account.subtext' | t }}
		  </h1>
		</header>
		<section id="CustomerRegistrationForm" class="section-form">
			<div class="form-vertical">
				{% form 'activate_customer_password' %}

					{{ form.errors | default_errors }}
		  
					<label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
					<input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full">
		  
					<label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
					<input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="input-full">
		  
					<label for="active-account-submit" class="hidden-label">{{ 'customer.activate_account.submit' | t }}</label>
					<input type="submit" id="active-account-submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
				  {% endform %}
			  </div>
		</section>
	</div>
</div>