<div id="customPasswordReset">
	<div class="page-width page-width--narrow">
		<header class="section-header">
			<a href="https://maizon-store.com/" title="Maizon Store"><img src="https://maizon-store.com/cdn/shop/files/logo_maizon_black_png_800px.png" title="Maizon Store" alt="Maizon Store Logo" /></a>
		  <h1 class="section-header__title">
			{{ 'customer.reset_password.title' | t }}
		  </h1>
		</header>
		<section class="section-intro">
			<p>
				{{ 'customer.reset_password.subtext' | t: email: email }}
			</p>
		</section>
		<section class="section-form">
			{% form 'reset_customer_password' %}
			  {{ form.errors | default_errors }}
			
			  <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
			  <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
			
			  <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
			  <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
			
			  <div class="text-center">
				<label for="reset-password-submit" class="hidden-label">{{ 'customer.reset_password.submit' | t }}</label>
				<input type="submit" id="reset-password-submit" class="btn btn--full btn--no-animate" value="{{ 'customer.reset_password.submit' | t }}">
			  </div>
			{% endform %}
		</section>
	</div>
</div>