<div id="brand__container">
  <div id="brand__container--header">
    <img src="{{ page.metafields.reference.brand.value.profilbanner.value | image_url }}" alt="{{ page.metafields.reference.brand.value.markenname.value }}" id="brand__banner-image" />
    <div id="brand__container--header-inner">
      <h1>{{ page.metafields.reference.brand.value.markenname.value }}</h1>
    </div>
  </div>
  <div class="page-width page-width--narrow page-content">
    <div id="brand__container--content">
      <div id="brand__logo-container">
        <img src="{{ page.metafields.reference.brand.value.markenlogo.value | image_url }}" alt="{{ page.metafields.reference.brand.value.markenname.value }}" id="brand__logo-image" />
      </div>
      <div id="brand__container--order-notes">
        <div id="brand__order-note-inner__minimum-order-value">
          <h4>Minimum Order</h4>
          {%- if page.metafields.reference.brand.value.mindestbestellwert.value != blank -%}
            <p>{{ page.metafields.reference.brand.value.mindestbestellwert.value }}</p>
          {%- else -%}
            <p>No minimum order value</p>
          {%- endif -%}
        </div>
        <div id="brand__order-note-inner__delivery">
          <h4>Delivery</h4>
          {%- if page.metafields.reference.brand.value.lieferhinweise.value != blank -%}
            <p>{{ page.metafields.reference.brand.value.lieferhinweise.value }}</p>
          {%- else -%}
            <p>No delivery information</p>
          {%- endif -%}
        </div>
        <div id="brand__order-note-inner__payment">
          <h4>Payment</h4>
          {%- if page.metafields.reference.brand.value.zahlungshinweise.value != blank -%}
            <p>{{ page.metafields.reference.brand.value.zahlungshinweise.value }}</p>
          {%- else -%}
            <p>No payment information</p>
          {%- endif -%}
        </div>
      </div>
      <div id="brand__container--order-note">
        {%- if page.metafields.reference.brand.value.bestellhinweis.value == blank -%}
          <h3>Please note, your order must be placed by Brand</h3>
        {%- else -%}
          <h3>{{ page.metafields.reference.brand.value.bestellhinweis.value }}</h3>
        {%- endif -%}
      </div>
      <div id="brand__description">
        <h2>About us</h2>
        <p>
          {{ page.metafields.reference.brand.value.markenbeschreibung_geschichte.value | newline_to_br }}
        </p>
        {%- if page.metafields.reference.brand.value.weiterfuhrende_informationen_pdf.value != blank -%}
        <div class="brand__description__pdf">
          <a href="https://{{ page.metafields.reference.brand.value.weiterfuhrende_informationen_pdf.value.url }}" target="_blank" title="Further information about {{ page.metafields.reference.brand.value.markenname.value }}"
          {% if page.metafields.reference.brand.value.background-color_button-first.value != blank %}
            {% assign color = page.metafields.reference.brand.value.background-color_button-first.value | downcase %}
            style="background-color: {{ page.metafields.reference.brand.value.background-color_button-first.value }};
            {% if color contains 'dark' or color contains 'dunkel' or color contains 'schwarz' or color contains 'black' or color contains '#000' or color contains '#00' or color contains '#111' or color contains '#222' or color contains '#333' or color contains '#444' %}
              color: white;
            {% endif %}"
          {% endif %}
          >
            {%- if page.metafields.reference.brand.value.weiterfuhrende_informationen_pdf_label.value != blank -%}
              {{ page.metafields.reference.brand.value.weiterfuhrende_informationen_pdf_label.value }}
            {%- else -%}
              {%- if request.locale.iso_code == 'de' -%}
                Weiterführende Informationen zu {{ page.metafields.reference.brand.value.markenname.value }} (PDF)
              {%- else -%}
                Further information about {{ page.metafields.reference.brand.value.markenname.value }} (PDF)
              {%- endif -%}
            {%- endif -%}
          </a>

          {%- if page.metafields.reference.brand.value.additional_pdf.value != blank -%}
          <a href="https://{{ page.metafields.reference.brand.value.additional_pdf.value.url }}" target="_blank"
          {% if page.metafields.reference.brand.value.background-color_button-second.value != blank %}
            {% assign color = page.metafields.reference.brand.value.background-color_button-second.value | downcase %}
            style="background-color: {{ page.metafields.reference.brand.value.background-color_button-second.value }};
            {% if color contains 'dark' or color contains 'dunkel' or color contains 'schwarz' or color contains 'black' or color contains '#000' or color contains '#00' or color contains '#111' or color contains '#222' or color contains '#333' or color contains '#444' %}
              color: white;
            {% endif %}"
          {% endif %}
          >
            {%- if page.metafields.reference.brand.value.additional_pdf_label.value != blank -%}
              {{ page.metafields.reference.brand.value.additional_pdf_label.value }}
            {%- else -%}
              Additional information (PDF)
            {%- endif -%}
          </a>
          {%- endif -%}

          {%- if page.metafields.reference.brand.value.additional_url.value != blank -%}
          <a href="{{ page.metafields.reference.brand.value.additional_url.value }}" target="_blank"
          {% if page.metafields.reference.brand.value.background-color_button-third.value != blank %}
            {% assign color = page.metafields.reference.brand.value.background-color_button-third.value | downcase %}
            style="background-color: {{ page.metafields.reference.brand.value.background-color_button-third.value }};
            {% if color contains 'dark' or color contains 'dunkel' or color contains 'schwarz' or color contains 'black' or color contains '#000' or color contains '#00' or color contains '#111' or color contains '#222' or color contains '#333' or color contains '#444' %}
              color: white;
            {% endif %}"
          {% endif %}
          >
            {%- if page.metafields.reference.brand.value.additional_url_label.value != blank -%}
              {{ page.metafields.reference.brand.value.additional_url_label.value }}
            {%- else -%}
              Visit website
            {%- endif -%}
          </a>
          {%- endif -%}
        </div>
        {%- endif -%}
      </div>
    </div>
    <div id="brand__container--products">
      <h2>Products from {{ page.metafields.reference.brand.value.markenname.value }}</h2>
      <div id="brand__container--products--inner">
      {% assign currentUser = customer %}
      {% assign products = page.metafields.reference.brand.value.produkte_der_marke.value %}
      {% assign userTags = currentUser.tags %}
      {% assign displayedProducts = '' %}

      {% paginate products by 250 %}
        {% comment %}Zuerst angeheftete Produkte anzeigen, sortiert nach pin_product_order von 1 bis 10{% endcomment %}

        {% comment %}Gehe durch die Pin-Ordnungen 1 bis 10{% endcomment %}
        {% for pin_order in (1..10) %}
          {% for product in products %}
            {% if product.metafields.custom.pin_product == true and product.metafields.custom.pin_product_order == pin_order %}
              {% assign productDisplayed = false %}
              {% for tag in userTags %}
                {% if product.tags contains tag and productDisplayed == false %}
                  {% assign productDisplayed = true %}
                  {% assign displayedProducts = displayedProducts | append: product.handle | append: ',' %}
                  <!-- Angeheftetes Produkt-Container (Ordnung {{ pin_order }}) -->
                  <div class="brand__product--container pinned-product">
                    <!--<div class="pin-order-badge">{{ pin_order }}</div>-->
                    <a href="{{ product.url }}" title="{{ product.title }}" class="brand__product__url">
                      <div class="brand__product--container__image">
                        <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}" class="product__main-image" />
                      </div>
                      <div class="brand__product--container__headline">
                        <h3>
                          {{ product.title }}
                        </h3>
                      </div>
                      <div class="brand__product--container__price">
                        <p>
                          {{ product.price | money }}
                        </p>
                      </div>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% comment %}Sammle alle angepinnten Produkte ohne explizite Ordnung oder höher als 10{% endcomment %}
        {% for product in products %}
          {% if product.metafields.custom.pin_product == true and product.metafields.custom.pin_product_order == blank or product.metafields.custom.pin_product_order > 10 %}
            {% assign productDisplayed = false %}
            {% for tag in userTags %}
              {% if product.tags contains tag and productDisplayed == false %}
                {% assign productDisplayed = true %}
                {% assign displayedProducts = displayedProducts | append: product.handle | append: ',' %}
                <!-- Angeheftetes Produkt-Container (andere Ordnung) -->
                <div class="brand__product--container pinned-product">
                  {% if product.metafields.custom.pin_product_order != blank %}
                    <div class="pin-order-badge">{{ product.metafields.custom.pin_product_order }}</div>
                  {% endif %}
                  <a href="{{ product.url }}" title="{{ product.title }}" class="brand__product__url">
                    <div class="brand__product--container__image">
                      <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}" class="product__main-image" />
                    </div>
                    <div class="brand__product--container__headline">
                      <h3>
                        {{ product.title }}
                      </h3>
                    </div>
                    <div class="brand__product--container__price">
                      <p>
                        {{ product.price | money }}
                      </p>
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}

        {% comment %}Dann nicht angeheftete Produkte anzeigen{% endcomment %}
        {% for product in products %}
          {% if product.metafields.custom.pin_product != true %}
            {% assign productDisplayed = false %}
            {% for tag in userTags %}
              {% if product.tags contains tag and productDisplayed == false %}
                {% assign productDisplayed = true %}
                {% assign displayedProducts = displayedProducts | append: product.handle | append: ',' %}
                <!-- Nicht angeheftetes Produkt-Container -->
                <div class="brand__product--container">
                  <a href="{{ product.url }}" title="{{ product.title }}" class="brand__product__url">
                    <div class="brand__product--container__image">
                      <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}" class="product__main-image" />
                    </div>
                    <div class="brand__product--container__headline">
                      <h3>
                        {{ product.title }}
                      </h3>
                    </div>
                    <div class="brand__product--container__price">
                      <p>
                        {{ product.price | money }}
                      </p>
                    </div>
                  </a>
                </div>
                <!-- Ende nicht angeheftetes Produkt-Container -->
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
      </div>
    </div>
    <div id="brand__container--footer">
      <div id="brand__footer--inner">
       <!--<h4>Legal notice and information of the brand</h4>-->
        <ul id="brand__legal-menu">
          <li class="legal-menu__item"><a href="#imprint-pop-up" class="open-pop-up" data-effect="mfp-zoom-out">Imprint</a></li>
          <li class="legal-menu__item"><a href="#privacy-pop-up" class="open-pop-up" data-effect="mfp-zoom-out">Privacy policy</a></li>
          <li class="legal-menu__item"><a href="#toc-pop-up" class="open-pop-up" data-effect="mfp-zoom-out">Terms and conditions</a></li>
          <li class="legal-menu__item"><a href="#shipping-pop-up" class="open-pop-up" data-effect="mfp-zoom-out">Shipping and payment</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="brand__pop-ups">
  <div id="brand__imprint">
    <div id="imprint-pop-up" class="pop-up white-popup mfp-hide">
       <div class="imprint-pop-up inner">
      <div class="imprint-pop-up headline-container">
       <h5>Imprint</h5>
      </div>
      <div class="imprint-pop-up text-container">
       {%- if page.metafields.reference.brand.value.marke-impressum.value != blank -%}
        <p>{{ page.metafields.reference.brand.value.marke-impressum | metafield_tag }}</p>
       {%- else -%}
       <p>Unfortunately, this information has not yet been filed by {{ page.metafields.reference.brand.value.markenname.value }}. If you have any questions or uncertainties, please contact us directly.</p>
       {%- endif -%}
      </div>
       </div>
    </div>
  </div>
  <div id="brand__privacy">
    <div id="privacy-pop-up" class="pop-up white-popup mfp-hide">
       <div class="privacy-pop-up inner">
      <div class="privacy-pop-up headline-container">
       <h5>Privacy Policy</h5>
      </div>
      <div class="privacy-pop-up text-container">
       {%- if page.metafields.reference.brand.value.marke-datenschutz.value != blank -%}
        {{ page.metafields.reference.brand.value.marke-datenschutz | metafield_tag }}
       {%- else -%}
       <p>Unfortunately, this information has not yet been filed by {{ page.metafields.reference.brand.value.markenname.value }}. If you have any questions or uncertainties, please contact us directly.</p>
       {%- endif -%}
      </div>
       </div>
    </div>
  </div>
  <div id="brand__toc">
    <div id="toc-pop-up" class="pop-up white-popup mfp-hide">
       <div class="toc-pop-up inner">
        <div class="toc-pop-up headline-container">
         <h5>Terms and conditions</h5>
        </div>
        <div class="toc-pop-up text-container">
         {%- if page.metafields.reference.brand.value.marke-agb.value != blank -%}
          {{ page.metafields.reference.brand.value.marke-agb | metafield_tag }}
         {%- else -%}
         <p>Unfortunately, this information has not yet been filed by {{ page.metafields.reference.brand.value.markenname.value }}. If you have any questions or uncertainties, please contact us directly.</p>
         {%- endif -%}
        </div>
       </div>
    </div>
  </div>
  <div id="brand__shipping">
    <div id="shipping-pop-up" class="pop-up white-popup mfp-hide">
       <div class="shipping-pop-up inner">
          <div class="shipping-pop-up headline-container">
             <h5>Shipping and payment</h5>
          </div>
          <div class="shipping-pop-up text-container">
             {%- if page.metafields.reference.brand.value.marke-versand.value != blank -%}
              {{ page.metafields.reference.brand.value.marke-versand | metafield_tag }}
             {%- else -%}
             <p>Unfortunately, this information has not yet been filed by {{ page.metafields.reference.brand.value.markenname.value }}. If you have any questions or uncertainties, please contact us directly.</p>
             {%- endif -%}
          </div>
       </div>
    </div>
  </div>
</div>

<style>
  .pinned-product {
    position: relative;
    border: 1px solid #f0f0f0;
  }

  .pin-order-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
  }
</style>

{% schema %}
{
  "name": "t:sections.main-brand.name",
  "tag": "section"
}
{% endschema %}
